nav ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a686bc;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    text-align: center;
    box-sizing: border-box;
}
nav ul{
    float: left;
    text-align: center;
}
nav ul a{
    display: contents;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
