/*Navigation*/
.nav {
    margin: auto;
    border: 20px 20px 20px;
    padding: 20px 40px;
}

.nav nav {
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 20px 20px;
}

.nav-links {
    display: inline;
    list-style: none;
    gap: 30px;
}

.hamburger {
    display: none;
    cursor: pointer;
    justify-content: left;
    align-items: left;
    overflow: hidden;
    margin: auto;
    border: 20px 20px;
}

#hamburger {
    width: 30px;
    height: 30px;
    padding: 0;
    margin: auto;
    justify-content: left;
    align-items: left;
    background: transparent;
    display: flex;
    border: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
    justify-content: left;

}

nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a686bc;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    box-sizing: border-box;
}

nav ul {
    float: left;
    text-align: center;
}

nav ul a {
    display: contents;
    color: white;
    stroke: black;
    padding: 80px;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    display: inline;
}
body {
    margin: 0;
    border: 10px;
    padding: 20px;
    background-color: #a686bc

}

/*HERO*/
.img-container{
   width: 560px;
   height: 560px;
   background-color: black;
   border-radius: 10px;
   display: flex;
   justify-content: left;
   width: 100%;
   flex: 0 1 50%;
   min-width: 300px;
   max-width: 300px;
   height: 300px;
   border: 30px;
   padding: 150px;
   box-sizing: border-box;
   margin: 15px 30px;
}

.hero {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 30px 20px;
}

.hero-text h1{
    display: flex;
    line-height: 1;
    font-size: 65px;
    color: white;
    padding: 20px 20px;
}

.hero-text p{
    display: flex;
    line-height: 1;
    font-size: 25px;
    color: white;
    padding: 5px 20px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .nav{
        display: table-row;
    }

    .nav-links {
        display: none;
    }

    .hamburger {
        display: block;
    }

}

@media (max-width: 500px) {
    .work-grid {
        grid-template-columns: 1fr;
    }

    .hero-text h1 {
        font-size: 120px;
    }

    .img-container{
       margin-top: 20px;

    }

    .hero-text p {
        font-size: 34px;
        max-width: 800px;
        color: white;
        display: flex;
        margin-top: 30px;

    }

    .nav ul {
        display: none;
    }

    .hamburger {
        justify-content: left;
        align-items: left;
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}