/*Navigation*/
.nav {
    padding: 20px 40px;
}

.nav nav {
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 14px 16px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.hamburger {
    display: none;
    cursor: pointer;
    justify-content: right;
    overflow: hidden;
    padding: 14px 16px;
}

#hamburger {
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    background: transparent;
    display: flex;
    border: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
    justify-content: right;

}

nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a686bc;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    box-sizing: border-box;
}

nav ul {
    float: left;
    text-align: center;
}

nav ul a {
    display: contents;
    color: white;
    stroke: black;
    padding: 80px;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    display: inline;
}
body {
    background-color: #a686bc
}