/*Navigation*/
.nav {
    margin: auto;
    border: 20px 20px 20px;
    padding: 20px 40px;
}
.nav nav{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 20px 20px;
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 30px;
}

.hamburger{
    display: none;
    cursor: pointer;
    justify-content: right;
    overflow: hidden;
    padding: 14px 16px;
}

#hamburger{
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    background: transparent;
    display: flex;
    border: none;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
    justify-content: right;
    
}

nav ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a686bc;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    box-sizing: border-box;
}
nav ul{
    float: left;
    text-align: center;
}
nav ul a{
    display: contents;
    color: white;
    stroke: black;
    padding: 80px;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    display: inline;
}

.hero{
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 60px 80px;
}

/*Stand in Profile Image*/
.image-container{
    width: 560px;
    height: 560px;
    background: #000;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    width: 100%;
    flex: 0 1 50%;
    min-width: 500px;
    max-width: 500px;
    height: 500px;
    border: 30px;
    
    box-sizing: border-box;
    margin: 15px 30px;
}

.image-container img{
    max-width: 100%;
    height: auto;
    display: flex;
    margin: 0 auto;
    
}
img:hover {
    transform: scale(1.1);
}

/*LUIS HEADER*/
.hero-text h1{
    font-size: 150px;
    line-height: 1;
    color: white;
    padding: 15px 20px;
}
.hero-text p{
    font-size: 34px;
    max-width: 800px;
    color: white;
    display: flex;
    margin-top: -105px;
    padding: 15px 20px;

}

body{
    background-color: #a686bc
}

.section {
    max-width: 100%;
    margin: 0 80px;
}

/* WORK GRID */
.work{
    padding: 40px 80px;
}

.work-grid{
    display: flex;
    flex-grow: 2;
    flex-wrap: wrap;
    gap: 30px;
}

.card-container {
    width: 100%;
    max-width: 30%;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
    background: #000;
    align-items: flex-end;
    padding: 15px;
    
}

.card-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-container .typography {
    position: absolute;
    bottom: 1em;
    left: 1em;
    color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 32px;
    text-transform: uppercase;
}

.card{
    background: #000;
    color: #fff;
    height: 160px;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    padding: 15px;
    font-size: 32px;
    text-transform: uppercase;
}

/* ABOUT */
.about{
    text-align: center;
    padding: 80px 80px 40px;
    color: white;
    font-size: 24px;
}

.about h2{
    font-size: 68px;
    color: white;
}

.subtitle{
    font-size: 34px;
    margin-bottom: 20px;
}

.about-text{
    max-width: 600px;
    margin: 0 auto;
    font-size: 34px;
    line-height: 1.6;
    color: white;
}

/* CONTACT */
.contact{
    background: #000;
    display: flex;
    gap: 20px;
    border-radius: 12px;
    overflow: hidden;
}

.contact-card{
    max-width: 600px;
    margin: 0 auto;
    color: #fff;
    padding: 40px 80px 80px;
    flex: 1;
}

.contact-card h3{
    text-align: center;
    margin-bottom: 20px;
}

.contact-illustration {
    background-color: white;
    width: 33%;
}

.skills{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    gap: 30px;
}

.skills h4{
    margin-bottom: 10px;
    font-size: 34px;
}

.skills ul{
    list-style: none;
    font-size: 32px;
    margin: 0;
    padding: 0;
}

.contact-info{
    font-size: 32px;
    line-height: 1.6;
    color: white;
    display: flex;
    gap: 24px;
}

.contact-info ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.contact-info ul li {
    white-space: nowrap;
    margin-right: 24px;
}


.contact-image{
    background: #000;
    flex: 1;
    border-radius: 12px;
}

/* RESPONSIVE */
@media (max-width: 900px){
        .hero{
            flex-direction: column;
            text-align: center;
        }

    .work-grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .contact{
        flex-direction: column;
    }

    .nav-links{
        display: none;
    }

    .hamburger{
        display: block;
    }

}

@media (max-width: 500px){
    .work-grid{
        grid-template-columns: 1fr;
    }

    .hero-text h1{
        font-size: 110px;
    }

        .hero-text p {
            font-size: 34px;
            max-width: 800px;
            color: white;
            display: flex;
            margin-top: -50px;
    
        }

    .nav ul{
        display: none;
    }

 .hamburger{
    display: block;
 }

 .hamburger.active .bar:nth-child(2){
    opacity: 0;
 }

 .hamburger.active .bar:nth-child(1){
    transform: translateY(-8px) rotate(-45deg);
 }

 .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
 }

}